<!-- Navbar -->
<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark mb-3"
  style="margin-bottom: 20px"
>
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="{% url 'todo:home' %}">Home</a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars text-light"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'task-list' %}active{% endif %}"
            href="{% url 'todo:task-list' %}"
            >Tasks</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'team-list' %}active{% endif %}"
            href="{% url 'accounts:team-list' %}"
            >Teams</a
          >
        </li>
      </ul>

      <!-- Right links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <form method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Logout</button>
          </form>
        </li>
        {% else %}
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}"
            href="{% url 'accounts:login' %}"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.resolver_match.url_name == 'sign_up' %}active{% endif %}"
            href="{% url 'accounts:sign_up' %}"
            >Sign Up</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
