{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-header text-center bg-primary text-white">
          <h2 class="mb-0">{{ object|yesno:"Update,Create" }} Task</h2>
        </div>
        <div class="card-body">
          <form method="post" novalidate>
            {% csrf_token %} {{ form|crispy }}
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-primary">
                {{ object|yesno:"Update Task,Create Task" }}
              </button>
              <a href="{% url 'todo:task-list' %}" class="btn btn-secondary">
                Cancel
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
